*.httr-oauth
*.xlsx
*.xls
*.aux
*.docx
*.pdf
*.sas7bdat
*.Rhistory
*.csv
*.mp4
*.Rproj
*.nvp
*.txt
*.svg
*.zip
*.htm
*.MP3
*.M4a
*.mp3
*.m4a
*.WMA
*.twb
*.ai
*.emf
*.xml
*.thmx
*.doc
*.twbr
*.db
*.log
*.gz
*.PPTX
*.dta
*.RData
*.Rdata
*.pptx
*.csv
*.rds
*.dta
*.RDa
*.Rda
*.dcf
*.rtf
*.lst
.Rproj.user
*.png